spring:
  application:
    name: notification-service
  data:
    redis:
      host: localhost
      port: 6379
  mail:
    host: localhost
    port: 3025

server:
  port: 8084

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  tracing:
    sampling:
      probability: 1.0
